.navbar-main {

    margin-right: 13rem;

    .logo {
        padding: 20px;
    }

    .mobile-menu {
        display: none;
    }

    .dropdown-menu {
      border: none;
      transform: translate3d(0px, 0px, 0px) !important;
      @media (max-width: $md) { 
          position: relative !important;
          margin-left: 25px !important;
      }


      li {
        a {
          
          color: #101820;

          &:hover {
            display: block;
          }
        }
      }
    }

    .menu-nav {
        margin: 0;
        padding: 30px 0;
        display: flex;
        list-style: none;

        li {
            display: block;

              a {

                &:hover {
                  color: $secondary;
                }
            }
        }
        
        a {
            color: #101820;
            align-items: center;
            justify-content: space-between;
            padding: 10px 25px 10px 25px;
            position: relative;
            white-space: nowrap;
            font-size: 15px;
            font-weight: 600;
            transition: 0.3s;
            margin-top: 5px;
            text-decoration: none;
        }

        .current-menu-item {
            a {
              color: #101820 !important;
            }
          }
    }
}

@media (max-width: $lg) {
    .navbar-main {
        .menu-nav {
            background: #fff;
            position: fixed;
            left: 0;
            top: 70px;
            bottom: 0;
            right: 0;
            display: none;
            z-index: 1000;

            a {
                color: #101820;
            }
        }
        .menu-nav.active {
            display: flex;
            overflow: hidden;
            width: 100%;
        }
  }
  
  .active {
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 50%;

    a {
      color: #101820;
    }
  }

}

.burger {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    margin: 15px 15px;
    z-index: 1001;
    right: 15px;
    &.focus {
        outline: none;
        box-shadow: none;
    }
    &::before {
      top: 20%;
      width: calc(100% - 0.4rem);
      height: 4px;
      background-color: $primary;
      border-radius: 0.125rem;
      transition: all 0.3s ease;
      content: "";
      position: absolute;
      left: 50%;
    }
    &::after {
      bottom: 20%;
      width: calc(100% - 0.4rem);
      height: 4px;
      background-color: $primary;
      border-radius: 0.125rem;
      transition: all 0.3s ease;
      content: "";
      position: absolute;
      left: 50%;
    }
    &.active {
        outline: none;
        box-shadow: none;
      &::before {
        top: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after {
        bottom: 50%;
        -webkit-transform: translate(-50%, 50%) rotate(-45deg);
        transform: translate(-50%, 50%) rotate(-45deg);
      }
    }
}

.hide {
  opacity:0;
  left:-100%;
}
.show-btn {
  opacity:1 !important;
  right:0 !important;
  margin: 25px;
}
