#topbar {

    color: #101820;
    font-size: 14px;
    font-weight: 500;

    .number {
        margin-right: 15px;
    }

    .contact-details {
        font-size: 14px;
        margin-right: 15px;

        @media (max-width: $sm) {
            display: none;
        }
    }

    .social {
        font-size: 28px;

        i {
            color: $secondary;
        }
    }

    a {
        color: #101820;
        margin-right: 5px;
        text-decoration: none;
    }

    @media (max-width: $lg) {
        display: none;
    }
}