.lock-scroll {
	overflow: hidden !important;
  }


html,
body {
	width: 100%;
	margin: 0;
	padding: 0;	
	overflow-x: hidden;
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}
