.p-space-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.p-space-130 {
    padding-top: 130px;
}

.shadow {
  box-shadow:  0 0 1px 0 RGB(24 51 47 / 24%), 0 24px 24px 0 RGB(24 51 47 / 3%), 0 2px 2px 0 RGB(24 51 47 / 3%), 0 4px 4px 0 RGB(24 51 47 / 3%), 0 8px 8px 0 RGB(24 51 47 / 3%), 0 16px 16px 0 RGB(24 51 47 / 3%)
}

.position-fixed {
  position: fixed !important;
  right: 0;
}